<div class="container category-container" ng-controller="ProductCtrl">

	<div class="col-md-12" ng-init="loadData()">
 
  <h1 class="category-text">Category</h1>
 
  


	<div class="col-md-3 category-div" ng-click="byCategory(0)">
					<h1>More DailyDeals & Gift Cards</h1>
			</div>
			<div class="col-md-3 category-div animated fadeIn"  ng-click="byCategory(1)">
					<h1>Missed a Deal?</h1>
			</div>

			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(2)">
					<h1>Up to 80% off Fashion Clearance</h1>
			</div>

			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(3)">
					<h1>Best of Fashion for Her</h1>
			</div>


			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(4)">
					<h1>Best of Fashion for Him</h1>
			</div>
			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(5)">
					<h1>Best of Tech</h1>
			</div>

			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(6)">
					<h1>The Perfect Pairing</h1>
			</div>

			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(7)">
					<h1>Best of Home Garden</h1>
			</div>


			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(8)">
					<h1>Football Collectibles for the Big Game</h1>
			</div>
			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(9)">
					<h1>Weekend Getaway Travel</h1>
			</div>

			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(10)">
					<h1>Bed & Bath</h1>
			</div>

			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(11)">
					<h1>Toys, Toys,Toys</h1>
			</div>


			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(12)">
					<h1>Best of Sporting Goods</h1>
			</div>
			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(13)">
					<h1>Tech on the Go</h1>
			</div>

			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(14)">
					<h1>Game On!</h1>
			</div>

			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(15)">
					<h1>Best of Motors</h1>
			</div>


			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(17)">
					<h1>Get Your Wearables</h1>
			</div>
			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(18)">
					<h1>Gold from Around the World</h1>
			</div>

			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(19)">
					<h1>Sexual, Wellness</h1>
			</div>

			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(20)">
					<h1>Top Trending on eBay</h1>
			</div>


			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(22)">
					<h1>Upgrade your Kitchen</h1>
			</div>
			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(23)">
					<h1>Fashion Favorites for Him</h1>
			</div>

			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(26)">
					<h1>Valentines Day Fashion Gifts Under $50</h1>
			</div>

			<div class="col-md-3 category-div animated fadeIn" ng-click="byCategory(27)">
					<h1>Top Toy Deals</h1>
			</div>

		

	</div>
</div>